

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}
.dark-2{
  color: #006A50
}

.btn-primary{
  background-color: #F5F5F5;
  font-weight: semibold;
  font-size: 12px;
  color: #006A50;
  padding:10px 30px;
  border-radius: 5px;
}


/* Nav styles */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}

nav ul{
  display:flex;
}


.nav-title{
  font-weight:800;
  font-size: 45px;
}

nav ul li {
  list-style: none;
  margin-inline-end: 50px;

  nav li a {
    font-size: 20px;
  }

}